
.MenuBar{
    background-color: rgb(89, 95, 108) !important;
}

.UndeHeader {
    margin-top: 80px;
    height: 50px;
    width: 100%;
    -webkit-box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 14px 15px 0px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 1;
    
}

.FormContainerForm form {
    width: 100%;
    padding: 20px;
    height: 45px;
    margin: 0 0;
    border-top: 0.5px solid rgba(178, 178, 178, 0.4);
    background: rgb(83, 95, 113);
    align-items: center;
    padding-left: 15.5%;
}
    input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

    }
    input[type = "text"] {
    width: calc(100% - 10px);
    padding: 6px 5px;
    }
    input[type = "date"] {
        width: calc(100% - 10px);
        padding: 5px 5px;
        }

    .RouteFormCityInput:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color:  #9672D3;
    }
    .RouteFormCityInput input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0  #9672D3;
    color: #9672D3;
    }

    .RouteForm {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
   
    align-items:center;

    }

    .RouteFormCityInput{
        width:15%;
        padding: 5px;
    }

    .RouteFormDateInput{
        width:10%;
        padding: 5px;
    }
    


     .btn-block {
         padding:0px;
         display:flex;
         flex-direction:row;
         align-items:center;
    } 
    .submButton {
    width: 150px;
    border: none;
    margin:0px;
    padding:7px 5px;
    margin-bottom: 10px;
    margin-left:5px;
    border-radius: 5px; 
    background:  rgba(55,65,81);
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    }
    .submButton:hover {
    background:   rgb(41, 49, 61);
    color: #f1f2f6;
    }



.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: rgb(65, 77, 97) !important;
    color: rgb(221, 221, 221) !important;
    opacity: 0.8;
}

    .leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover {
        background-color: rgb(50, 59, 73) !important;
        color: white !important;
        opacity: 0.8;
    }


#map{
    position: fixed !important;
    top: 166px;
    left: 55%;
    
    width: 30%;
    height: 77vh;
}


.RouteBlock{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 38%;
    padding-top: 23vh;
    margin-left: 15.5%;
   }

.Route {
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 9px;
 
    box-shadow: rgb(19 41 104 / 20%) 0px 2px 5px 0px;
    background-color: white;
    transition: 0.3s;
    width: 94%;
    max-height: 100%;
   padding-bottom:20px;
}

    .Route:hover {
      
        display: block;
        width: calc(94% + 1px);
        margin-left: 8px;
    }

.HidderRoutePart {
    display: none;
  
    flex-direction: row;
    border-top: 0.5px solid rgba(178, 178, 178, 0.4);
    margin-top: 20px;
    padding-bottom: 20px;
    transition: height 0.5s;
}

.HiddenRoutePartCol {
    margin-top: 30px;
}



.WaypointTimeline {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items:center;
}

.VerticalTimeline {
    border-left: 2px solid rgb(116, 66, 163);
    height: 60px;
    border-radius: 1px;
    margin: 0 20px;
    margin-top: 20px;
}
.VerticalTimelineEndPoint {
    height: 12px;
    width: 12px;
    background-color: rgb(150, 114, 211,0.2);
    border-radius: 50%;
    display: inline-block;
    margin: 0 20px;
    margin-top: 15px;
    border: 3px solid #9672D3;
}

.WaypointTimes {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.WaypointTime {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    justify-content: center;
    align-items: center;
}

    .WaypointTime:first-child {
        margin-top: 0px;
        margin-bottom: 25px;
    }

.WaypointTimeDuration {
    font-size: 16px;
    color: rgb(19, 41, 104);
    font-weight: bold;
}

.WaypointTimePause {
    color: rgb(161, 169, 195);
    font-size: 14px;
    margin: 2px 0px;
    line-height: 20px
}

.WaypointsInfo {
    display: flex;
    flex-direction: column;
}

.WaypointInfo {
    margin-top: 62px;
}

    .WaypointInfo:first-child {
        margin-top: 0px;
    }

.WaypointInfoMainText {
    font-size: 16px;
    color: rgb(19, 41, 104);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ToNextStage {
    margin-top: 10px;
    display:none;
}

.ToNextStageButton {
    width: 70%;
    height: 50px;
    background-color: rgba(55,65,81);
    border-radius: 8px;
    color: rgb(231, 230, 230);
    font-size: 12pt;
    font-weight: 600;
    display:flex;
    flex-direction:row;
}

    .ToNextStageButton:hover {
        background-color: rgb(43, 51, 63);
        
    }

.ToNextStageButtonText{

}

.ToNextStageButtonPrice{
    margin-left:auto;
}



.RoutesHeader {
    margin-left: 5px;
}
.HeaderText{
    color: #3b3958;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
    
}
.RouteUnderHeaderText{
    color: #3b3958;
    font-size: 11px;
    font-weight: 700;
    margin: 5px 0;
}

.RouteResult{
    color: #2F086D;
    font-size: 11px;
    font-weight: 800;
    margin-bottom: 10px;
}

.RouteOperator{
    color: #3b3958;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.RouteData {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.RouteData > *{
    display: flex;
}

.Time{
    color: #3b3958;
    font-size: 22px;
    font-weight: 700;

}

.Duration{
    color: #a1a9c3;
    font-size: 17px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
}

.RouteDataDirection{
    display: flex;
}
.RouteDataDirection > *{
    display: flex;
}

.TimeLine {
    height: 1px;
    padding: 1px 17px ;
    margin: auto 12px;
    background-color: #a1a9c3;
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    border-radius: 1px;
}

.DestinationPoint{
    display: flex;
    flex-direction: column;
}

.DestinationPointText{
    font-weight: 700;
    font-size: 12px;
}

.PriceBlock {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:110px;
}

.Price {
    color: #3b3958;
    font-size: 22px;
    font-weight: 700;
    
}


