<div id="map" style="height: 100vh;z-index: 40;"></div>

<div id="InfoPanel" class=" absolute bottom-10 bg-gray-700 bg-opacity-60 z-50 w-full">
    <div id="loader"></div>
    <div id="Top" class=""></div>
    <div id="Bottom"></div>
</div>
