

<link href="~/css/site.css" rel="stylesheet" />


 <div class="FormContainer">
        <div class="FormContainerImage">
            <img src="~/images/pt_header_arrowgon_1920x700.jpg" class="img-fluid FormContainerImageT" alt="...">
        </div>
        <div class="FormContainerForm">
            <form action="/Home/RoutesOffers">
               
                <div class="colums">
                  <div class="item">

                    <input id="fromCity" type="text" name="fromCity"  placeholder="From: city" required/>
                  </div>
                  <div class="item">
  
                    <input id="toCIty" type="text" name="toCIty" placeholder="To: city" required/>
                  </div>
                  <div class="item">
                    <input id="departDate" type="date" name="departDate" required/>
                  </div>
                  <div class="item">

                    <input id="arrDate" type="text" name="arrDate" placeholder="+ Add return"  onblur="(this.type='text')" onfocus="(this.type='date')" />
                  </div>
                </div>
                
       
                <div class="btn-block">
                  <button class="submButton" type="submit">Serch</button>
                </div>
              </form>
        </div>
    </div>
    
    <div>
        <div class="Main BlockOffset">
            <div class="NewsBlock">

                <div class="Article">
                    <p class=" ArticleHeader">Article name</p>
                    <img src="~/images/News.jpg" class="ArticleImg" alt="...">
                    <p class="ArticleText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, tenetur expedita fugit ullam, mollitia nam perspiciatis corporis nesciunt adipisci dolor incidunt debitis modi a ex asperiores consequatur dolorem, nostrum vel.</p>
                </div>
                <div class="Article">
                    <p class="ArticleHeader">Article name</p>
                    <img src="~/images/News.jpg" class="ArticleImg" alt="...">
                    <p class="ArticleText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, tenetur expedita fugit ullam, mollitia nam perspiciatis corporis nesciunt adipisci dolor incidunt debitis modi a ex asperiores consequatur dolorem, nostrum vel.</p>
                </div>
                 <div class="Article">
                    <p class=" ArticleHeader">Article name</p>
                    <img src="~/images/News.jpg" class="ArticleImg" alt="...">
                    <p class="ArticleText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, tenetur expedita fugit ullam, mollitia nam perspiciatis corporis nesciunt adipisci dolor incidunt debitis modi a ex asperiores consequatur dolorem, nostrum vel.</p>
                </div>
            </div>
            
    
        </div>
    </div>