@{
    ViewData["Title"] = "Passenger details";
}

<link href="~/css/header.css" rel="stylesheet">
<link href="~/css/tripOrder.css" rel="stylesheet">
<link href="~/css/passengerDetails.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/e3cd8d35d3.js" crossorigin="anonymous"></script>

<div class="UndeHeader">

        <div class="UnderHeaderContent">

            <div  class="UnderHeaderContentCurrent"> Additional baggage</div>
            <div><img src="~/images/RightArrow.png" alt="" class="UnderHeaderContentArrows"></div>
            <div  class="UnderHeaderContentCurrent">Passenger details</div>
            <div><img src="~/images/RightArrow.png" alt="" class="UnderHeaderContentArrows"></div>
            <div>Review and pay</div> 
        </div> 
    </div> 
    <div class="MainContent">
        <div class="Info">
            <div class="ExternalLogin">
               
                <div class="ExternalLoginBlock">
                    <div class="ExternalLoginBlockDescription">
                        <div class="ExternalLoginBlockDescriptionHeader">Quick sign in</div>
                        <div>Skip filling in all your details by signing up through Google</div>
                    </div>
                    
                    <div class="ExternalLoginBlockImg">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUZjisBwO2XBatEej-VkCeJzpWYx_qWJZVDHho0uGDWxiHdjwr4_-48Avi9clpIUZqwh8&usqp=CAU" alt="" height="30">
                    </div>
                </div>
                <div class="ExternalLoginButtons">
                    <div class="ExternalLoginButton">
                        <div class="ExternalLoginButtonLeft" >
                            <img src="https://freesvg.org/img/1534129544.png" height="20">
                        </div>
                        
                        <div class="">Sing up with Google</div> 
                        <div class="ExternalLoginButtonRight"></div>
                    </div> 
                    
                </div>
            </div>
            <form class=" " action="/Home/ReviewAndPay" method="post">
            <div class="Content">
                <div class="ContentHeader">
                    <div class="ContentHeaderText">Main passanger</div>
                    <div class="ContentHeaderPrefix">Adult</div>
                </div>
                <div class="PassengerDetails">
                    
                        <div class="ContantMainPart">
                        <div class="ContantMainPartItem">
                            <div class="ContantMainPartItemFull"> 
                                <label for="">Email address</label>
                                <input name = "email" type="text" onchange="updateLocalStorage(this)" required>
                            </div>
                        
                        </div>
                        <div class="ContantMainPartItem">
                            <div class="ContantMainPartItemCol">
                                <div class="ContantMainPartItemRow">
                                    <label for="">First name</label>
                                    <input name = "fname" type="text" onchange="updateLocalStorage(this)" required>
                                </div>
                            </div>
                            <div class="ContantMainPartItemCol ColumnMargin">
                                <div class="ContantMainPartItemRow">
                                    <label for="">Last name</label>
                                    <input name = "lname" type="text" onchange="updateLocalStorage(this)" required>
                                </div>
                            </div>
                        </div>
                        <div class="ContantMainPartItem">
                            <div class="ContantMainPartItemCol">
                                <div class="ContantMainPartItemRow">
                                    <label for="">Phone</label>
                                    <input name = "phone" type="text" onchange="updateLocalStorage(this)" required>
                                </div>
                            </div>
                            <div class="ContantMainPartItemCol ColumnMargin">
                                <div class="ContantMainPartItemRow">
                                    <label for="">Date of birth</label>
                                    <div class="ContantMainDate">
                                        <input class="Month" name = "month"  type="text" placeholder="MM" onchange="updateLocalStorage(this)" required>
                                        <span>/</span>
                                        <input class="Day" name = "day"  type="text" placeholder="DD" onchange="updateLocalStorage(this)" required>
                                        <span>/</span>
                                        <input class="Year" name = "year"  type="text" placeholder="YYYY" onchange="updateLocalStorage(this)" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                </div>     
            </div>
           
                <div class="ToNextStage">
                    <button class="ToNextStageButton">Review journey details</button>
                </div>
            </form>
            
        </div>
       
        <div class="CheckSum">
            <div class="RoutesInfo">
                <div class="RouteOutbandInfo">
                    <div class="RouteInfoContent">
                        <div class="RouteInfoHeader">
                            <i class="fa-solid fa-circle-check"></i>
                            <div>Outbount</div>
                        </div>
                        <div class="RouteInfoMain">
                            <div id="RouteInfoMainDateOut" class="RouteInfoMainDate">Thu, May 19 10:00 AM – 1:15 PM</div>
                            <div class="RouteInfoMainContent">
                                <div id="RouteInfoMainContentStationOut1" class="RouteInfoMainContentStation">London Gatwick Station</div>
                                <span> — </span>
                                <div id="RouteInfoMainContentStationOut2" class="RouteInfoMainContentStation">Florence Peretola Station</div>
                            </div>
                        </div>
                        <div id="RouteInfoTimeOut" class="RouteInfoTime">
                            <div>2h15m • 0 transfers</div>
                        </div>
                    </div>
                    <div class="RouteInfoDropDown">
                        <i class="fa-solid fa-angle-down"></i>
                        
                    </div>
                </div>
                @if (ViewBag.ReturnalDate != null)
            {
                <div class="RouteReturnInfo">
                    <div class="RouteInfoContent">
                        <div class="RouteInfoHeader">
                            <i class="fa-solid fa-circle-check"></i>
                            <div>Return</div>
                        </div>
                        <div class="RouteInfoMain">
                            <div class="RouteInfoMainDate">Thu, May 19 10:00 AM – 1:15 PM</div>
                            <div class="RouteInfoMainContent">
                                <div class="RouteInfoMainContentStation">London Gatwick Station</div>
                                <span> — </span>
                                <div class="RouteInfoMainContentStation">Florence Peretola Station</div>
                            </div>
                        </div>
                        <div class="RouteInfoTime">
                            <div>2h15m • 0 transfers</div>
                        </div>
                    </div>
                    <div class="RouteInfoDropDown">
                        <i class="fa-solid fa-angle-down"></i>

                    </div>
                </div>
            }
        </div>
           <div class="Busket">
               <div id="BusketItems" class="BusketItems">
                    
               </div>
               
               <div id="BusketTotal" class="BusketTotal">
                   <div class="BusketTotalDescription">Total</div>
                   <div class="BusketTotalPrice">0 hrn.</div>
               </div>
           </div>       
        </div>

        
    </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
 <script src="~/js/checkControl.js"></script>
 <script src="~/js/passengerDetails.js"></script>