@{
    ViewData["Title"] = "Review and pay";
}

<link href="~/css/header.css" rel="stylesheet">
<link href="~/css/tripOrder.css" rel="stylesheet">
<link href="~/css/reviewAndPay.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/e3cd8d35d3.js" crossorigin="anonymous"></script>

<div class="UndeHeader">

        <div class="UnderHeaderContent">

            <div  class="UnderHeaderContentCurrent"> Additional baggage</div>
            <div><img src="~/images/RightArrow.png" alt="" class="UnderHeaderContentArrows"></div>
            <div  class="UnderHeaderContentCurrent">Passenger details</div>
            <div><img src="~/images/RightArrow.png" alt="" class="UnderHeaderContentArrows"></div>
            <div  class="UnderHeaderContentCurrent">Review and pay</div> 
        </div> 
    </div> 
    <div class="MainContent">
        <div class="Info">
            <div class="Content PassengerDetails">
                <div class="ContentHeader">
                    <div class="ContentHeaderText">Passenger details</div>
                    <div class="ContentHeaderPrefix"></div>
                </div>
                <div class="ContantMainPart">
                    <div class="PassengerData">
                        <div class="UserName">Ilia Baliuk</div>
                        <div class="ContentHeaderPrefix">Adult</div>
                    </div>
                    <div class="TicketAddress">
                        <i class="fa-solid fa-ticket"></i>
                        <div>Your ticket will be send to ilia.baliuk@gmail.com</div>
                    </div>
                </div>     
            </div>

            <div class="Content">
                <div class="ContentHeader">
                    <div class="ContentHeaderText">Select payment method</div>
                    <div class="ContentHeaderPrefix"></div>
                </div>
                <div >
                    
                    <div class="accordion">
                      
                        <dt>
                          <a id="0" style="border-top: none;" href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">Card payment</a>
                        </dt>
                        <dd  class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                            <div style="padding-bottom: 15px ;" class="ContantMainPart">
                                <form class="ContantMainPart" action="">
                                    
                                    <div class="ContantMainPartItem">
                                        <div class="ContantMainPartItemFull"> 
                                            <label for="">Name on card</label>
                                            <input type="text">
                                        </div>
                                    
                                    </div>
            
                                    <div class="ContantMainPartItem">
                                        <div class="ContantMainPartItemFull"> 
                                            <label for="">Card number</label>
                                            <input type="text">
                                        </div>
                                    
                                    </div>
            
            
                                    <div class="ContantMainPartItem">
                                        <div class="ContantMainPartItemCol">
                                            <div class="ContantMainPartItemRow">
                                                <label for="">Expiration date</label>
                                                <input type="date">
                                            </div>
                                        </div>
                                        <div class="ContantMainPartItemCol ColumnMargin">
                                            <div class="ContantMainPartItemRow">
                                                <label for="">CVV</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
            
                                </form>    
                            </div>
                        </dd>
                        <dt>
                          <a id="1" href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                            Cash on boarding</a>
                        </dt>
                        <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                        </dd>
                        
                      
                    </div>
                  </div>    
            </div>
            <from id="HomeForm" action="/Home/Index">

            </from> 
            <div class="ToNextStage">
                <button class="ToNextStageButton" onclick="makeOrder()">Make booking</button>
            </div>
        </div>
       
        <div class="CheckSum">
            <div class="RoutesInfo">
                <div class="RouteOutbandInfo">
                    <div class="RouteInfoContent">
                        <div class="RouteInfoHeader">
                            <i class="fa-solid fa-circle-check"></i>
                            <div>Outbount</div>
                        </div>
                        <div class="RouteInfoMain">
                            <div id="RouteInfoMainDateOut" class="RouteInfoMainDate">Thu, May 19 10:00 AM – 1:15 PM</div>
                            <div class="RouteInfoMainContent">
                                <div id="RouteInfoMainContentStationOut1" class="RouteInfoMainContentStation">London Gatwick Station</div>
                                <span> — </span>
                                <div id="RouteInfoMainContentStationOut2" class="RouteInfoMainContentStation">Florence Peretola Station</div>
                            </div>
                        </div>
                        <div id="RouteInfoTimeOut" class="RouteInfoTime">
                            <div>2h15m • 0 transfers</div>
                        </div>
                    </div>
                    <div class="RouteInfoDropDown">
                        <i class="fa-solid fa-angle-down"></i>
                        
                    </div>
                </div>
                @if (ViewBag.ReturnalDate != null)
                {
                    <div class="RouteReturnInfo">
                        <div class="RouteInfoContent">
                            <div class="RouteInfoHeader">
                                <i class="fa-solid fa-circle-check"></i>
                                <div>Return</div>
                            </div>
                            <div class="RouteInfoMain">
                                <div class="RouteInfoMainDate">Thu, May 19 10:00 AM – 1:15 PM</div>
                                <div class="RouteInfoMainContent">
                                    <div class="RouteInfoMainContentStation">London Gatwick Station</div>
                                    <span> — </span>
                                    <div class="RouteInfoMainContentStation">Florence Peretola Station</div>
                                </div>
                            </div>
                            <div class="RouteInfoTime">
                                <div>2h15m • 0 transfers</div>
                            </div>
                        </div>
                        <div class="RouteInfoDropDown">
                            <i class="fa-solid fa-angle-down"></i>

                        </div>
                    </div>
                }
            </div>
           <div class="Busket">
               <div id="BusketItems" class="BusketItems">
                    
               </div>
               
               <div id="BusketTotal" class="BusketTotal">
                   <div class="BusketTotalDescription">Total</div>
                   <div class="BusketTotalPrice">0 hrn.</div>
               </div>
           </div>        
        </div>

        
    </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
 <script src="~/js/checkControl.js"></script>
  <script src="~/js/reviewAndPay.js"></script>